<div class="row">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://raw.githubusercontent.com/NetanelDavid/virtuals-coins/main/profille%20image.png" alt="profile image">
    <div class="card-body">
      <h5 class="card-title">Netanel David</h5>
      <p class="card-text">Netanel David, is a programming student, with little knowledge of the web and the Java language.</p>
      <a target="_blank" href='mailto:nd0556789002@gmail.com' class="btn btn-link">write me</a>
    </div>
  </div>
  
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="http://images.globes.co.il/images/NewGlobes/big_image_800/2019/800x392.2019401T142756.jpg" alt="profile image">
    <div class="card-body">
      <h5 class="card-title">virtuals-coins</h5>
      <p class="card-text">In this app you will get up-to-date information on all types of virtual currencies.</p>
    </div>
  </div>
</div>
  
