<div class="row margin-bottom width limitation">
    <input
      [(ngModel)]='search' 
      [placeholder]="!isAll && !search?'type in the search, or click to return.':'search...'"  
      class="col-2 first form-control" 
      type="cearch">
      <button 
        class="btn btn-success width-button-fixed" 
        (click)='performSearch()' 
        [disabled]='isAll && !search'
      >
      {{isAll || search ? 'search ':'all coins '}}
      <i [ngClass]="{'fas':true,'text-right':true ,'fa-search': isAll || search , 'fa-angle-right': !isAll && !search}"> </i>
    </button>
  </div>