.first{
    margin-left:5%;
}

.single{
    margin-left: 5% ;
    width:90%;
}

.right{
  margin-left: 83.5%;
}

.margin-bottom{
    margin-bottom:20px;
}

.margin-top{
    margin-top:20px;
}

.margin-left{
    margin-left:5px;
}

.width-button-fixed{
    width: 120px;
}

.card{
    margin-left:30px;
    width: 250px;
}
.sticky{
    position: sticky;
    z-index:6;
    top: 0;
}