.first{
    margin-left:5%;
}
.center{
    text-align: center;
}
.center-elment{
    margin-left: 5%;
}
.Single{
    margin-left: 5%;
    margin-right: 5%;
}
.right{
    margin-left: 83.5%;
}

.button{
    margin-bottom:20px;
}